[class*="col-"] {
  position: relative;
  min-width: 0;
}

// Centered columns
.col-centered {
  float: none;
  margin: 0 auto;
}

.col-xs-centered {
  @include media-breakpoint-down(sm) {
    float: none;
    margin: 0 auto;
  }
}

.col-sm-centered {
  @media (min-width: 34em) and (max-width: 48em) {
    float: none;
    margin: 0 auto;
  }
}

.col-md-centered {
  @media (min-width: 48em) and (max-width: 62em) {
    float: none;
    margin: 0 auto;
  }
}

.col-lg-centered {
  @media (min-width: 62em) and (max-width: 75em) {
    float: none;
    margin: 0 auto;
  }
}

.col-xl-centered {
  @media (min-width: 75em) {
    float: none;
    margin: 0 auto;
  }
}

.row-thin {
  @include rem(margin-left, -$gutter-xxs);
  @include rem(margin-right, -$gutter-xxs);

  [class*="col-"] {
    @include rem(padding-left, $gutter-xxs);
    @include rem(padding-right, $gutter-xxs);
  }

  @include media-breakpoint-up(lg) {
    @include rem(margin-left, -$gutter-xs);
    @include rem(margin-right, -$gutter-xs);

    [class*="col-"] {
      @include rem(padding-left, $gutter-xs);
      @include rem(padding-right, $gutter-xs);
    }
  }
}

.container-fluid {
  max-width: 1200px;
}
