/* ==========================================================================
  Blockquote
  ========================================================================== */
$module: 'blockquote';

.#{$module} {
  border-left: 1px solid #ddd;
  @include rem(padding, 0 0 0 $gutter-md);
  @include rem(margin, 0 0 $gutter-md 0);

  @include media-breakpoint-up(lg) {
    @include rem(margin, 0 0 $gutter-lg 0);
  }

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__quote {
    font-style: italic;
    color: $grey-dark;
    margin: 0;
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */

}