/* ==========================================================================
  Menu
  ========================================================================== */
$module: 'menu';

.#{$module} {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: $menu-width;
  background-color: $white;
  border-right: 1px solid $grey-lighter;
  transform: translateX(-100%);
  transition: 1s transform $ease-in-out-quint;

  @include media-breakpoint-up(md) {
    display: block;
    transform: translateX(0%);
    transition: none;
    z-index: 9999;
  }

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__content {
    @extend %center;
    width: 100%;
    @include rem(margin, -$gutter-sm 0 0 0);
  }

  &__link {
    display: inline-block;
    text-align: center;
    color: $body-color;
    width: 100%;
    transform: translateY(-$gutter-md/2);
    @include rem(margin, 0 auto $gutter-md);

    @include media-breakpoint-up(md) {
      transform: translateY(0);
      @include rem(margin, $gutter-md auto);
    }

    &:hover {
      color: $red;
      text-decoration: none;

      .#{$module}__title {
        color: $red;
      }

      .#{$module}__icon {
        line {
          stroke: $red;
        }

        polygon, path {
          fill: $red;
        }
      }
    }

    &--alt {
      width: auto;

      @include media-breakpoint-up(md) {
        width: 100%;
      }

      .#{$module}__title, .#{$module}__subtitle {
        color: $red;
      }

      .#{$module}__title {
        @include rem(margin, 0 0 $gutter-xxs);
      }

      &:hover {
        .#{$module}__icon {

          line {
            stroke: $red;
          }

          polygon, path {
            fill: $red;
          }
        }
      }
    }
  }

  &__title, &__subtitle {
    display: block;
    margin: 0;
    text-transform: uppercase;
    color: $black;
  }

  &__icon {
    @include rem(margin, $gutter-xxs auto 0);
    transition: 0.2s transform $ease-in-out;

    line {
      transition: 0.2s stroke $ease-linear;
    }

    polygon, path {
      transition: 0.2s fill $ease-linear;
    }
  }

  &__good-people {
    position: absolute;
    left: 0;
    bottom: 0;
    color: $grey-dark;
    text-transform: initial;
    letter-spacing: 0;
    text-align: center;
    @include rem(padding, $gutter-xs);

    a {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
    }
  }

  &__toggle {
    background-color: $black;
    position: absolute;
    top: -1px;
    left: -1px;
    height: 50px;
    width: 50px;
    z-index: 1;
    @include rem(padding, 8px 0 0);

    @include media-breakpoint-up(md) {
      display: none;
    }

    span {
      display: block;
      height: 1px;
      width: 30px;
      background-color: $white;
      @include rem(margin, 7px auto 0);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    transform: translateX(0%);
    transition: 1s transform $ease-in-out-quint;
    
    @include media-breakpoint-up(md) {
      transition: none;
    }

    &.menu--is-active {
      @include media-breakpoint-down(sm) {
        transform: translateX($menu-width);
      }
    }

    &--clone {
      display: none;
    }
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
  &--is-active {
    @include media-breakpoint-down(sm) {
      transform: translateX(0%);
    }
  }
}